<form action="/dash" method="post" style="background-color:rgba(240, 255, 255, 0.548);color: black; border-radius: 20px;text-align: center;width: 400px;margin: auto;">
  <h3>Inscription</h3>
  <hr/>
  <label style="width: 100px;margin: 10px;">Nom:</label> <input type="text" name="login">
  <label style="width: 100px;margin: 10px">Adresse:</label> <input type="text" name="login">
  <label style="width: 100px;margin: 10px">Mail:</label> <input type="text" name="login">
  <label style="width: 100px;margin: 10px">Mots de passe:</label> <input type="password" name="login">
  <button style="margin-top:20px;width: 250px;border-radius: 50px;" class="btn btn-outline-succes" type="submit">Inscrire</button>
</form>
